
<!doctype html>
<html>
  <head>
    <title>Multi-label TTS</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="app" v-cloak>
			<h1>COMP5214 Project: Multi-label controlled TTS</h1>
			<p>This demo shows the capability of conditional timbre generation and conditional emotion generation by text.</p>
			<p>"Seen" means the label/speaker has appeared in the training dataset and "Unseen" means the reverse.</p>
			<div>
				<h3>Comparison with Other Models</h3>
				<div class="model_list">
					<div v-for="(m, k) in model_list">
						<div>{{k}}</div>
						<audio :src="m" controls></audio>
					</div>	
				</div>
			</div>
			<h2>Adaption and Emotion Control</h2>
			<div v-for="j in 4">
				<h3>Orignial Utterance from {{spk_desc_list[j-1]}}: </h3>
				<audio :src="spk_list[j-1]" controls></audio>
				<div class="rows">
					<div class="emos">
						<div class="emo" v-for="e in emotion_list">{{!['Happy', 'Neutral', 'Sad', 'Suprise', 'Angry'].includes(e)? e + '(Unseen)': e}}</div>
					</div>
					<div class="cols">
						<div class="cols">
							<div class="texts" v-for="i in 3">
								<div class="emo">{{text_list[i-1]}}</div>
								<div class="emo" v-for="e in emotion_list">
									<audio :src="audio_list[j-1][e][i-1]" controls></audio>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<h3>Emotion Intensity Control (Angry)</h3>
				<div class="intensity" v-for="i in 11">
					<div class="left">{{((i-1)/10).toFixed(1)}}</div>
					<div class="right">
						<audio :src="intensity_list[i-1]" controls></audio>
					</div>
				</div>
			</div>
		</div>
		<script>
			const { createApp } = Vue
			createApp({
				data() {
					return {
						message: 'Hello Vue!',
						spk_list: ['assets/ESD18/0018_000021.wav', 'assets/ESD03/0003_000021.wav', 'assets/ESD10/0010_000021.wav', 'assets/LT26/26_495_000004_000000.wav'],
						spks: ['ESD18',  'ESD03', 'ESD10', 'LT26'],
						spk_desc_list: ['ESD test set (Seen Speaker)', 'ESD test set (Unseen Speaker)', 'ESD test set (Unseen Speaker)', 'LibriTTS dataset (Unseen Speaker)'],
						text_list: ['The football teams give a tea party.',
							'And what are doves. And what are doves.', 'I thought you meant how old are you.'],
						emotion_list: ['Happy', 'Excited', 'Joyful', "in a happy tone", 'Neutral', 'Sad', 'a bit sad', 'feeling down', 'angry and sad', 'Surprise', 'Angry'],
						audio_list: [],
						intensity_list: [],
						model_list: {
							'Ground Truth': 'assets/overall quality/0018_000022.wav',
							'MixedEmotion': 'assets/overall quality/MixedEmotion.wav',
							'EmoDiff': 'assets/overall quality/Emodiff.wav',
							'Ours': 'assets/overall quality/sample_1_1000.wav'
						}
					}
				},
				beforeMount() {
					for (let j = 0; j <= 3; j++) {
						this.audio_list.push({})
						for (const emo of this.emotion_list) {
							this.audio_list[j][emo] = []
							for (let i = 0; i <= 2; i++) {
								this.audio_list[j][emo].push('assets/' + this.spks[j] + '/' + emo + '/sample_' + i + '_1000.wav')
							}
						}
					}
					console.log(this.audio_list)
					this.intensity_list = [...Array(11).keys()].map(k => 'assets/ESD18_angry/' + (k/10).toFixed(1) + '/sample_0_500.wav')
					console.log(this.intensity_list)
				}
			}).mount('#app')
		</script>
  </body>
</html>

