
<!doctype html>
<html>
  <head>
    <title>Multi-label TTS</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="app" v-cloak>
			<h1>COMP5214 Project: Multi-label controlled TTS</h1>
			<p>This demo shows the capability of conditional timbre generation and conditional emotion generation by text.</p>
			<p>"Seen" means the label/speaker has appeared in the training dataset and "Unseen" means the reverse.</p>
			<div v-for="j in 3">
				<h3>Orignial Utterance from {{spk_desc_list[j-1]}}: </h3>
				<audio :src="spk_list[j-1]" controls></audio>
				<div class="rows">
					<div class="emos">
						<div class="emo" v-for="e in emotion_list">{{['Excited', 'Joyful'].includes(e)? e + '(Unseen)': e}}</div>
					</div>
					<div class="cols">
						<div class="cols">
							<div class="texts" v-for="i in 3">
								<div class="emo">{{text_list[i-1]}}</div>
								<div class="emo" v-for="e in emotion_list">
									<audio :src="audio_list[j-1][e][i-1]" controls></audio>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			const { createApp } = Vue

			createApp({
				data() {
					return {
						message: 'Hello Vue!',
						spk_list: ['assets/ESD18/0018_000021.wav', 'assets/ESD03/0003_000021.wav', 'assets/LT26/26_495_000004_000000.wav'],
						spks: ['ESD03', 'ESD18', 'LT26'],
						spk_desc_list: ['ESD test set (Seen Speaker)', 'ESD test set (Unseen Speaker)', 'LibriTTS dataset (Unseen Speaker)'],
						text_list: ['Does the quick brown fox jump over the lazy dog?',
							'It was said in last year\'s Democratic platform.',
							'As rich as Peter\'s son in law!'],
						emotion_list: ['Happy', 'Excited', 'Joyful', 'Neutral', 'Sad', 'Surprise', 'Angry'],
						audio_list: []
					}
				},
				beforeMount() {
					for (let j = 0; j <= 2; j++) {
						this.audio_list.push({})
						for (const emo of this.emotion_list) {
							this.audio_list[j][emo] = []
							for (let i = 0; i <= 2; i++) {
								this.audio_list[j][emo].push('assets/' + this.spks[j] + '/' + emo + '/sample_' + i + '_1000.wav')
							}
						}
					}
					console.log(this.audio_list)
				}
			}).mount('#app')
		</script>
  </body>
</html>

